In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# IMPORT LIBRARY
PANDAS:- it use for Data Manipulation, analysis and preprocessing.

NUMPY :- it stand for numerical python and it provide support for multidimenstional array.

SKLEARN :-it uses for impliment machine learning model and statistical modelling.

In [2]:
df=pd.read_csv("C:/Users/Himanshu/Downloads/Fertilizer Recommendation.csv")

read_csv :- we can represent large and structured data and tabular form of CSV data

In [3]:
df.head() # it print top 5 data from the csv file.

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [4]:
df.isnull().sum() # it display null data present or not

Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

In [5]:
df.describe() # it display mean,count,variance,min of dataset.

       Temparature  Humidity    Moisture   Nitrogen  Potassium  Phosphorous
count    99.000000  99.000000  99.000000  99.000000  99.000000    99.000000
mean     30.282828  59.151515  43.181818  18.909091   3.383838    18.606061
std       3.502304   5.840331  11.271568  11.599693   5.814667    13.476978
min      25.000000  50.000000  25.000000   4.000000   0.000000     0.000000
25%      28.000000  54.000000  34.000000  10.000000   0.000000     9.000000
50%      30.000000  60.000000  41.000000  13.000000   0.000000    19.000000
75%      33.000000  64.000000  50.500000  24.000000   7.500000    30.000000
max      38.000000  72.000000  65.000000  42.000000  19.000000    42.000000

In [6]:
# Check unique labels for 'Soil Type' and 'Crop Type'
unique_soil_labels = df['Soil Type'].unique()
unique_crop_labels = df['Crop Type'].unique()


print("Unique Soil Labels:", unique_soil_labels)
print("Unique Crop Labels:", unique_crop_labels)

Unique Soil Labels: ['Sandy' 'Loamy' 'Black' 'Red' 'Clayey']
Unique Crop Labels: ['Maize' 'Sugarcane' 'Cotton' 'Tobacco' 'Paddy' 'Barley' 'Wheat' 'Millets'
 'Oil seeds' 'Pulses' 'Ground Nuts']

# LABEL ENCODER
 it convert categorical data to numerical data With the fit_transform method

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Soil Type']=le.fit_transform(df['Soil Type'])
df['Crop Type']=le.fit_transform(df['Crop Type'])
df['Fertilizer Name']=le.fit_transform(df['Fertilizer Name'])
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,4,3,37,0,0,6
1,29,52,45,2,8,12,0,36,5
2,34,65,62,0,1,7,9,30,1
3,32,62,34,3,9,22,0,20,4
4,28,54,46,1,6,35,0,0,6
...,...,...,...,...,...,...,...,...,...
94,25,50,32,1,7,24,0,19,4
95,30,60,27,3,9,4,17,17,0
96,38,72,51,2,10,39,0,0,6
97,36,60,43,4,4,15,0,41,5
98,29,58,57,0,8,12,0,10,3

In [8]:
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,4,3,37,0,0,6
1,29,52,45,2,8,12,0,36,5
2,34,65,62,0,1,7,9,30,1
3,32,62,34,3,9,22,0,20,4
4,28,54,46,1,6,35,0,0,6

In [9]:
x=df.drop(columns=['Fertilizer Name'])
y=df['Fertilizer Name']
print(x.head())
print(y.head())

   Temparature  Humidity   Moisture  Soil Type  Crop Type  Nitrogen  \
0           26         52        38          4          3        37
1           29         52        45          2          8        12
2           34         65        62          0          1         7
3           32         62        34          3          9        22
4           28         54        46          1          6        35

   Potassium  Phosphorous
0          0            0
1          0           36
2          9           30
3          0           20
4          0            0
0    6
1    5
2    1
3    4
4    6
Name: Fertilizer Name, dtype: int32

# CREATE MACHINE LEARNING MODEL

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=12)

In [11]:
# k-Nearest Neighbors (k-NN)
knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(x_train, y_train)
knn_predictions = knn_classifier.predict(x_test)
knn_accuracy = accuracy_score(y_test, knn_predictions)
print("k-NN Accuracy:", knn_accuracy)

k-NN Accuracy: 0.8

In [12]:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
linear_reg = LinearRegression()
linear_reg.fit(x_train, y_train)

# Make predictions on the test set
y_pred = linear_reg.predict(x_test)

# Calculate Mean Squared Error (MSE) to evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Linear Regression MSE:", mse)

Linear Regression MSE: 0.7370101908436746

In [13]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
# Create polynomial features
poly = PolynomialFeatures(degree=2)  # You can adjust the degree as needed
X_train_poly = poly.fit_transform(x_train)
X_test_poly = poly.transform(x_test)

# Create and fit the polynomial regression model
poly_reg = LinearRegression()
poly_reg.fit(X_train_poly, y_train)

# Make predictions on the test set
y_pred = poly_reg.predict(X_test_poly)

# Calculate Mean Squared Error (MSE) to evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Polynomial Regression MSE:", mse)

Polynomial Regression MSE: 0.7530695230190758

In [14]:
import pickle
with open('knn_classifier.pkl','wb')as file:
    pickle.dump(knn_classifier,file)
with open('training_data.pkl','wb')as file:
    pickle.dump(x_train,file)

In [15]:
d=pickle.load(open('knn_classifier.pkl','rb'))

In [16]:
x_train.head()
print(x_train.isna().sum())

Temparature    0
Humidity       0
Moisture       0
Soil Type      0
Crop Type      0
Nitrogen       0
Potassium      0
Phosphorous    0
dtype: int64

In [17]:
# Define your input data for prediction with the correcc:\Users\Himanshu\Downloads\fertilizer_recommendatio_system.ipynbt feature names
input_data = {
    'Temparature':9,
    'Humidity ': 20,
    'Moisture': 0,
    'Soil Type': 1,
    'Crop Type': 3,
    'Nitrogen': 6,
    'Potassium': 1,
    'Phosphorous': 0,
}

# Create a DataFrame with the input data and reorder columns if needed
input_df = pd.DataFrame([input_data],columns=x_train.columns)
print(input_df)
# Make predictions using the loaded classifier
ans = d.predict(input_df)

# Print the predicted fertilizer name

if ans[0] == 0:
    print("Predicted Fertilizer Name:TEN-TWENTY SIX-TWENTY SIX")
elif ans[0] == 1:
    print("Predicted Fertilizer Name:Fourteen-Thirty Five-Fourteen")
elif ans[0] == 2:
    print("Predicted Fertilizer Name:Seventeen-Seventeen-Seventeen")   
elif ans[0] == 3:
    print("Predicted Fertilizer Name:TWENTY-TWENTY")
elif ans[0] == 4:
    print("Predicted Fertilizer Name:TWENTY EIGHT-TWENTY EIGHT")
elif ans[0] == 5:
    print("Predicted Fertilizer Name:DAP")
else:
    print("Predicted Fertilizer Name:UREA")

   Temparature  Humidity   Moisture  Soil Type  Crop Type  Nitrogen  \
0            9         20         0          1          3         6

   Potassium  Phosphorous
0          1            0
Predicted Fertilizer Name:Seventeen-Seventeen-Seventeen